@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - интернет магазин</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/culture")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/kendo/theme")
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark sticky-md-top">
        <div class="container-fluid">
            @Html.ActionLink("Интернет магазин", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Переключить навигацию" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="nav navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Главная страница", "Index", "Home", new { area = "" }, new { @class = $"nav-link {(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")}" })</li>
                    <li>@Html.ActionLink("Информация", "About", "Home", new { area = "" }, new { @class = $"nav-link {(ViewContext.RouteData.Values["Action"].ToString() == "About" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")}" })</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home", new { area = "" }, new { @class = $"nav-link {(ViewContext.RouteData.Values["Action"].ToString() == "Contact" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")}" })</li>
                    <li>@Html.ActionLink("Магазин", "Index", "Store", new { area = "" }, new { @class = $"nav-link {(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Store" ? "active" : "")}" })</li>
                    <li>@Html.ActionLink("Корзина", "Index", "Recycler", new { area = "" }, new { @class = $"nav-link {(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Recycler" ? "active" : "")}", @id = "Recycler" })</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrators"))
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="nav-link dropbtn">Панель администратора</a>
                            <div class="dropdown-content">
                                @Html.ActionLink("Пользователи", "Index", "Admin")
                                @Html.ActionLink("Роли", "Index", "RoleAdmin")
                                @Html.ActionLink("Группы товара", "Index", "Group")
                                @Html.ActionLink("Поставщики товара", "Index", "Supplier")
                                @Html.ActionLink("Товары", "Index", "Product")
                                @Html.ActionLink("Заявки", "Index", "Order")
                            </div>
                        </li>
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Здравствуйте " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                        </li>
                        <li>@Html.ActionLink("Выйти", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <main class="mb-auto container-fluid">
        @RenderBody()
    </main>

    <footer class="flex-shrink-0 py-4 bg-dark text-white-50 sticky-md-bottom">
        <div class="container text-center">
            <small>&copy; @DateTime.Now.Year - Интернет магазин. Все права защищены</small>
        </div>
    </footer>
    <!--если браузер не создает специального поля для date, то добавляем datepicker-->
    @RenderSection("scripts", required: false)
</body>
</html>
