@model Store.Models.CreateModel

@{
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>

@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        <label>Имя</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Пароль</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
}

<style>
    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }
</style>